@font-face {
    font-family: camptonlight;
    src: url(fonts/Campton-LightDEMO.otf);
}

body {
  font-size: 16px;
}

.landing {
  position: relative;
}

.background {
  z-index: -10;
  height: 850px;
  width: 100%;
  top: 0%;
  min-width: 790px;
  max-width: 2000px;
}

.logo {
  display: inline-block;
  position: absolute;
  margin: 5%;
  z-index: 20;
}

.banner {
  position: absolute;
  width: 100%;
}

h1 {
  font-size: 5em;
  margin-top: 30%;
  padding-left: 5%;
  font-family: 'Homemade Apple', cursive;
  color: #4a4a4a;
  line-height: 125%;
}

h3 {
  font-size: 2em;
  padding-top: 2%;
  padding-left: 5%;
  font-family: 'Poppins', sans-serif;
  color: #4a4a4a;
  line-height: 120%;
}

.landing {
  background-image: #000000 url("https://images.unsplash.com/photo-1436262513933-a0b06755c784?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=0b6cf0f2bd64f9788f12b2b43c959c11");
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  font-family:'Poppins', sans-serif;
  font-size: 16px;
  color: #4a4a4a;
  position: absolute;
  margin-top: 25px;
  margin-right: 25px;
  right: 20px;
  top: 10px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

li {
   float: left;
   padding: 10px;
   margin: 10px;
  }

a {
  display: block;
  padding: 10px;
  border: solid rgba(75, 75, 75, 0.5) 2px;
  border-radius: 2px;
  color: rgba(75, 75, 75, 0.5);
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  width: 90px;
  text-align: center;
}

.home {
  color: #4a4a4a;
  border: solid #4a4a4a 2px;
}

/*this is css for section 2*/

.info1 {
  position: absolute;
  top: 950px;
  margin: 20px;
  padding: 40px;
}

.info2 {
  position: absolute;
  top: 1500px;
  margin: 20px;
  padding: 40px;
}

.image1 {
  width: 45%;
  float: left;
  padding-left: 5px;
}

.supporttext1 {
  display: inline-block;
  position: relative;
  width: 50%;
  float: right;
}

.image2 {
  width: 45%;
  float: right;
  padding-left: 5px;
}

.supporttext2 {
  display: inline-block;
  position: relative;
  width: 50%;
  float: left;
}

h4 {
  font-family: helvetica-light;
  color: rgba(75, 75, 75, 0.5);
  font-size: 40px;
}

p {
  font-family: 'Poppins', sans-serif;
  color: #4a4a4a;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 40px;
  margin-bottom: 60px;
  letter-spacing: 1.25px;
}

.cta1 {
  float: right;
}

.cta2 {
  width: 120px;
}

/*footer {
  background-color: #FEE668;
  height: 200px;
  width: 100%;

}*/
